body {
  margin: 0;
  padding: 0;
}
.one{
  height: 70vh;
  background-color: red;
}
.two{
  height: 70vh;
  background-color: teal;
}
.three{
  height: 70vh;
  background-color: yellow;
}
.four{
  height: 70vh;
  background-color: blue;
}




.outer-container {
  display: flex;
  border: 1px solid;
  height: 300px;
  position: relative;
  
}

.first_child{
  flex: 1;
  background-color: blueviolet;
  width: 33%;
}
.second_child{
  flex: 1;
  background-color: rgb(30, 175, 25);
  width: 33%;
}

.sticky-container {
  flex: 1;
  height: 300px;
  width: 33%;
  border: 1px solid;
  background-color: rgb(222, 82, 82);
  transition: background-color 0.3s ease;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  
}
