body{
    margin: 0;
}
svg{
 border: 2px solid rgb(21, 227, 227); 
 vertical-align: top;  
}
div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:brown;
    border: 2px solid black;
}