.commentBox{
 width: 90vw;
 margin: auto;
}
.commentBox input{
    font-family: inherit;
    width: 100%;
    padding: 10px 15px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid ;
    margin-bottom:10px ;
   
}
.commentBox input:focus{
    outline: none;
}
.btn{
    display: flex;
    flex-direction: row-reverse;
}
.btn button{
    margin-right: 10px;
}