.message__container {
  border: 1px solid black;
}

/* Top body of each message */
.top {
  display: flex;
  align-items: center;
}
.top > :first-child {
  font-size: 2.5rem;
  margin: 8px;
}
.name {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}


/* center of each message */
.center {
  color: gray;
  font-size: 1.5rem;
  word-wrap: break-word;
  padding: 5px 35px;
}

/* bottom of each message */
.bottom {
  display: flex;
  padding: 5px 30px;
  align-items: center;
}
.bottom > :nth-child(1),
.bottom > :nth-child(3) {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 5px 8px;
}
.bottom > :nth-child(2),
.bottom > :nth-child(5) {
  margin-right: 10px;
}
.bottom > :nth-child(5) {
  cursor: pointer;
  margin-left: 15px;
}

/* View all Replies */
.arrowReplies{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px 30px;
    cursor: pointer;
}
.arrowReplies>div>:first-child{
    margin-right: 5px;
}